/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-clr-1: hsl(35, 77%, 62%);
  --primary-clr-2: hsl(5, 85%, 63%);

  --neutral-clr-1: hsl(36, 100%, 99%);
  --neutral-clr-2: hsl(233, 8%, 79%);
  --neutral-clr-3: hsl(236, 13%, 42%);
  --neutral-clr-4: hsl(240, 100%, 5%);

  --primary-font: "Inter", sans-serif;

  --regular-weight: 400;
  --bold-weight: 700;
  --extra-bold-weight: 800;
}

body {
  font-family: var(--primary-font);
}

p {
  font-size: 0.938rem;
}

@media screen and (min-width: 576px) {
  .align-center {
    padding-inline: 5em;
  }
}

/* header */
.nav-link {
  margin-left: 0.9em;
  font-weight: var(--regular-weight);
  color: var(--neutral-clr-3);
}

.nav-link:hover {
  color: var(--primary-clr-2);
}

@media screen and (min-width: 300px) and (max-width: 992px) {
  header {
    position: relative;
  }

  .collapsing {
    transition: none;
    /* overriding bootstrap collapse animation */
  }

  .navbar-toggler {
    background: none;
    border: none;
  }

  .exit-sidebar {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 2;
  }

  .shadow-effect {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 40%;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--neutral-clr-1);
    height: 100vh;
    width: 60%;
  }

  .navbar-nav {
    margin-top: 10em;
  }

  .nav-link {
    margin-left: 1.3em;
    font-size: 1.2rem;
    color: var(--neutral-clr-4);
  }
}

/* main */
.main-img {
  display: block;
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-img-mobile {
  max-width: 100%;
}

.main-heading {
  font-weight: var(--extra-bold-weight);
  font-size: 3rem;
  color: var(--neutral-clr-4);
  margin-block: 0.4em;
  line-height: 1;
}

.desc-wrapper p {
  font-weight: var(--regular-weight);
  color: var(--neutral-clr-3);
  font-size: 1.2rem;
}

.btn-readmore {
  font-weight: var(--bold-weight);
  font-size: 1rem;
  letter-spacing: 0.25em;
  background-color: var(--primary-clr-2);
  color: var(--neutral-clr-1);
  border-radius: 0;
  padding: 0.7em 2.2em;
  margin-top: 0.8em;
}

.btn-readmore:hover {
  background-color: var(--neutral-clr-4);
  color: var(--neutral-clr-1);
}

@media screen and (min-width: 992px) {
  .main-img {
    margin-bottom: 2rem;
  }

  .main-heading {
    font-size: 3.5rem;
  }

  .desc-wrapper p {
    font-size: 1.1rem;
  }
}

.new-section-container {
  background-color: var(--neutral-clr-4);
  padding: 1.25em 1.5em;
  height: 100%;
}

.new-section-container hr {
  color: var(--neutral-clr-1);
}

.new-section-container h2 {
  color: var(--primary-clr-1);
  font-weight: var(--extra-bold-weight);
  font-size: 1.8rem;
  padding-bottom: 0.8em;
}

.new-section-container a {
  text-decoration: none;
  color: var(--neutral-clr-1);
  font-weight: var(--bold-weight);
  font-size: 1.2rem;
}

.new-section-container a:hover {
  color: var(--primary-clr-1);
  transition: ease-in 0.1s;
}

.new-section-container p {
  color: var(--neutral-clr-2);
  font-weight: var(--regular-weight);
  font-size: 0.9rem;
  line-height: 1.8em;
}

/* footer */
.topics {
  display: flex;
}

.topics-img {
  display: block;
  max-width: 100%;
  width: 7em;
  height: 100%;
}

.topics-text {
  padding-left: 1.2em;
}

.topics-rank {
  font-weight: var(--bold-weight);
  font-size: 2rem;
  color: var(--neutral-clr-2);
  margin-bottom: 2px;
}

.topics-heading a {
  font-weight: var(--extra-bold-weight);
  font-size: 1.1rem;
  color: var(--neutral-clr-4);
  margin-bottom: 10px;
  text-decoration: none;
}

.topics-heading a:hover {
  color: var(--primary-clr-2);
}

.topics-desc {
  font-weight: var(--regular-weight);
  color: var(--neutral-clr-3);
  line-height: 1.7em;
  margin-bottom: 0;
}

@media screen and (min-width: 673px) and (max-width: 992px) {
  .main-img-mobile {
    max-width: 70%;
  }

  .main-heading {
    max-width: 70%;
  }

  .desc-wrapper {
    max-width: 70%;
  }

  .new-section-container {
    max-width: 70%;
  }

  .topics {
    max-width: 70%;
  }
}
