/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --neutral-clr-1: 0, 0%, 98%;
  --neutral-clr-2: 0, 0%, 41%;
  --neutral-clr-3: 0, 0%, 8%;

  --font-default: "Epilogue", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--font-default);
  font-size: 1.125rem;
  color: hsl(var(--neutral-clr-3));
}

/* navbar */

.nav-item {
  font-size: 1rem;
  color: hsl(var(--neutral-clr-2));
}

.nav-item:hover a {
  color: hsl(var(--neutral-clr-3));
  transition: 0s ease-in;
}

.nav-item a:focus .arrow {
  transform: rotate(180deg);
}

.nav-item .nav-link::after {
  display: none;
}

.dropdown-item {
  display: flex;
  justify-content: space-evenly;
}

.dropdown-item:hover {
  background-color: white;
}

.dropdown-item svg {
  width: 20%;
}

.dropdown-item p {
  color: hsl(var(--neutral-clr-2));
  margin-bottom: 0;
  width: 80%;
}

.btn-login,
.btn-register {
  color: hsl(var(--neutral-clr-2));
  border-radius: 0.8em;
}

.btn-login:hover,
.btn-register:hover {
  color: hsl(var(--neutral-clr-3));
  transition: 0s ease-in;
  background: none;
}

.shadow {
  position: absolute;
}

.dropdown-menu {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  padding: 1em 0 1em;
}

@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60%;
    background-color: hsl(var(--neutral-clr-1));
  }

  .shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40%;
    background-color: hsl(var(--neutral-clr-3), 0.6);
  }

  .navbar-nav {
    padding-top: 3em;
    display: flex;
  }

  .nav-item a {
    padding-left: 1.25em;
  }

  .close-sidebar {
    position: fixed;
    top: 0.4em;
    right: 1.3em;
    z-index: 2;
    transition: 0s;
    border: none;
    height: 2em;
  }

  .open-sidebar {
    height: 2em;
    border: none;
  }

  .dropdown-menu {
    background: hsl(var(--neutral-clr-1));
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .dropdown-menu li {
    padding-left: 1.5em;
  }

  .dropdown-item {
    max-width: 12em;
  }

  .navbar-collapse {
    transition: 0s;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 15em;
    margin-inline: auto;
  }

  .btn-login,
  .btn-register {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/* main */
main {
  margin-top: 4em;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-heading {
  color: hsl(var(--neutral-clr-3));
  font-size: 5rem;
  font-family: var(--font-default);
  font-weight: var(--fw-bold);
  margin-bottom: 0.5em;
  line-height: 1;
}

.main-desc {
  width: 70%;
  color: hsl(var(--neutral-clr-2));
  font-size: 1.125rem;
  text-align: left;
  line-height: 1.45;
  margin-bottom: 3em;
}

.learn-more-btn {
  font-family: var(--font-default);
  font-weight: var(--fw-bold);
  background-color: hsl(var(--neutral-clr-3));
  padding-block: 0.6em;
  min-width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-more-btn:hover {
  background: none;
  color: hsl(var(--neutral-clr-3));
}

.clients {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 6em;
  min-width: 25rem;
}

.main-img-wrapper {
  display: flex;
  justify-content: center;
}

.main-img-wrapper img {
  height: 80%;
}

@media (max-width: 992px) {
  main {
    margin-top: 1em;
  }

  main > .row {
    flex-direction: column-reverse;
  }

  .main-content-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }

  .main-heading {
    font-size: 2rem;
  }

  .main-desc {
    text-align: center;
    width: 100%;
    margin-bottom: 1.25em;
  }

  .clients {
    width: 100%;
    margin-top: 3em;
    padding-inline: 1em;
  }

  .client-item {
    transform: scale(0.8);
    z-index: -1;
  }

  .main-img-wrapper {
    padding-inline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
