/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  /* For media queries */
  --smaller-screens: 375px;
  --larger-screens: 14440px;

  /* Colors */
  --primary-clr-1: hsl(7, 99%, 70%);
  --primary-clr-2: hsl(51, 100%, 49%);
  --primary-clr-3: hsl(167, 40%, 24%);
  --primary-clr-4: hsl(198, 62%, 26%);
  --primary-clr-5: hsl(168, 34%, 41%);

  --neutral-clr-1: hsl(212, 27%, 19%);
  --neutral-clr-2: hsl(213, 9%, 39%);
  --neutral-clr-3: hsl(232, 10%, 55%);
  --neutral-clr-4: hsl(210, 4%, 67%);
  --neutral-clr-5: hsl(0, 0%, 100%);

  --primary-ff: "Barlow", sans-serif;
  --secondary-ff: "Fraunces", serif;

  --regular-fw: 600;
  --bold-fw: 700;
  --extrabold-fw: 900;
}
