/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Root */
:root {
  /* Primary */
  --main-clr: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent-clr: 277, 64%, 61%;

  /* Neutral */
  --main-heading: hsl(0, 0%, 100%);
  --main-parag: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);

  /* Typography */
  --regular-fs: 0.938rem;

  --primary-ff: "Inter", sans-serif;
  --secondary-ff: "Lexend Deca", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  height: 100vh;
  background: var(--main-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 80%;
}

.content,
.img {
  flex-basis: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  border-radius: 0.5em 0 0 0.5em;
  background: var(--card-bg);
  padding: 5em;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.heading {
  color: var(--main-heading);
  font-family: var(--primary-ff);
  font-weight: var(--fw-bold);
  font-size: 2.5rem;
}

.heading > span {
  color: hsl(var(--accent-clr));
}

.desc {
  color: var(--main-parag);
  font-size: var(--regular-fs);
  font-family: var(--secondary-ff);
  max-width: 40ch;
  line-height: 1.5rem;
}

.stats-container {
  display: flex;
  gap: 4em;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.stat {
  color: var(--main-heading);
  font-family: var(--primary-ff);
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

.stat-type {
  color: var(--main-parag);
  font-family: var(--secondary-ff);
  font-size: 0.75rem;
  text-transform: uppercase;

}

.img{
  position: relative;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsla(var(--accent-clr), .5);
}

.img-mobile {
  display: none;
}

.img-desktop {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 0 0.5em 0.5em 0;
}

@media (max-width: 1200px) {
  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .main {
    width: auto;
    max-height: 80%;
    padding-inline: 2em;
    flex-direction: column-reverse;
  }

  .img-mobile {
    object-fit: cover;
    width: 100%; 
    max-height: 400px;
    border-radius: 0.5em 0.5em 0 0;
  }


  .content {
    width: 100%;
    padding: 1.5em;
    gap: 2em;
    border-radius: 0 0 0.5em 0.5em;
  }

  .heading {
    font-size: 2rem;
    text-align: center;
  }

  .desc {
    text-align: center;
  }

  .text-container {
    align-items: center;
  }

  .stats-container {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .stats{
  text-align: center;
  }
}
